* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black;
    color: white; */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    background-color: black;
    display: flex;
    align-items: center;
    z-index: 999;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 22px;
}


.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-mid {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 53%;
    margin-left: 2px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.spotify-logo {
    margin-left: 5px;

}

.circle-icon {
    width: 50px;
    height: 50px;
    background-color: #1a1a1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: -13px;
    justify-content: center;
}

.circle-icon img {
    height: 22px;


}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 30px;
    height: 37px;
    margin-left: 5px;
    padding: 5px 15px;
    width: 445px;

}

.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    margin-left: 35px;
    width: 368px;
    font-size: 16px;
    font-family: sans-serif;
}

.search-bar input::placeholder {
    color: #b3b3b3;
}

.seach-icon {
    height: 50px;
    width: 24px;
    margin-left: -244px;

}

.seperator {
    width: 1px;
    height: 24px;
    margin-left: 382px;
    background-color: #b3b3b3;
    opacity: 0.3;
}


.browse {
    margin-left: 13px;
    width: 24px;
}


.navbar-right a {
    display: flex;
    align-items: center;
    color: #adadad;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

    font-family: sans-serif;
    gap: 6px;
    /* Ensures icons and text don't overlap */

}

.navbar-links {
    display: flex;
    gap: 10px;
    /* decrease gap here */
}

.navbar-links .nav-link {
    font-size: 16px;
    font-weight: bold;
}



.navbar-right .divider {
    width: 1px;
    height: 20px;
    background-color: #ffffff;
    margin: 0 10px;
}

.small-download-icon {
    width: 16px;
    height: 16px;
}

.install-app {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #adadad;
    font-family: sans-serif;
    padding: 11px;
    font-size: small;
    font-weight: bold;
}


.login-button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    width: 105px;
    font: sans-serif;
    height: 46px;
}

.container {
    margin-top: 56px;
}

.left {
    width: 25vw;
    padding: 4px;

}

.right {
    width: 75vw
}

.library {
    display: flex;
}